{% extends 'base.html' %}
{% block content %}
<h1>mamio</h1>

<h5>NPM: </h5>
<p>{{ npm }}<p>

<h5>Name:</h5>
<p>{{ name }}</p>

<h5>Class:</h5>
<p>{{ class }}</p>


{% if not item_entries %}
<p>Belum ada data item pada mamio.</p>
{% else %}
<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Stock</th>
    <th>Category</th>
    <th>Rating</th>
    <th>Discount</th>

  </tr>

  {% comment %} Berikut cara memperlihatkan data item di bawah baris ini 
  {% endcomment %} 
  {% for item_entry in item_entries %}
  <tr>
    <td>{{item_entry.name}}</td>
    <td>{{item_entry.price}}</td>
    <td>{{item_entry.description}}</td>
    <td>{{item_entry.stock}}</td>
    <td>{{item_entry.category}}</td>
    <td>{{item_entry.rating}}</td>
    <td>{{item_entry.discount}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_item' %}">
  <button>Add New Item</button>
</a>

<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>

<h5>Sesi terakhir login: {{ last_login }}</h5>

{% endblock content %}